@{
    Layout = null;
}

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Terminos y Condiciones <a href="http://www.tecstrag.com/doc/AVISOPRIVACIDADTECSTRAG.pdf">Tecstrag</a></strong>&nbsp;&nbsp;<a href="http://www.tecstrag.com/doc/AVISOPRIVACIDADTECSTRAG.pdf">Privacidad</a>.

</footer>
